@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Productor: @ViewData["Productor"]</p>

<address>
    <strong>More information: <a href="https://www.linkedin.com/in/guilherme-fernandes-7792a2194/">Linkedin</a></strong>
</address>